@page "/fetchuser"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WEB.Shared
@attribute [Authorize]
@inject HttpClient Http


<h1>User Data</h1>
<p>This component demonstrates fetching User data from the server.</p>
<p>    <a href="/adduser">Create New</a>     </p>

@if (userList == null)
{
    <p><em>Loading...</em></p>}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>TeamID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
            <tr>
                <td>@user.UserID</td>
                <td>@user.UserName</td>
                <td>@user.TeamID</td>
                <td>
                    <a href='/edituser/@user.UserID'>Edit</a>  |
                    <a href='/deleteuser/@user.UserID'>Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@functions
{
    UsersModel[] userList;

    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; } //differenece between this

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            try
            {
                userList = await Http.GetFromJsonAsync<UsersModel[]>("/api/User/Index");
            }
            catch (AccessTokenNotAvailableException exception) //and this
            {
                exception.Redirect();
            }
        }
    }
}