@using WEB.Shared;

@page "/crudCreate/{recipeId}"
@inject HttpClient Http

@inject Microsoft.AspNetCore.Components.NavigationManager Navigation

<h2>Edit Team</h2>

@functions {
   // [Parameter]
   // public string crudId { get; set; }
//
   // public TeamCrud crud = new TeamCrud();
   // protected override async Task OnInitializedAsync()
   // {
   //     crud = await Http.GetFromJsonAsync<TeamCrud>("/api/TeamCRUD/detail/" + Convert.ToInt32(crud));
   // }
   // protected async Task UpdateCRUD()
   // {
   //     await Http.SendJsonAsync(HttpMethod.Put, "api/TeamCRUD/edit", crud);
   //     Navigation.NavigateTo("/crudread");
   // }
   // void cancel()
   // {
   //     Navigation.NavigateTo("/crudread");
    //}
}