@page "/crudread"
@using WEB.Shared;
@inject HttpClient Http

<h1>Team Detail</h1>

<p>Team name = @teams</p>

@functions {

    private string teams = "";

    protected override async Task OnInitializedAsync()
    {
        teams = await Http.GetStringAsync("Team/string");
    }

    // TeamCrud[] cruds;
    // protected override async Task OnInitializedAsync()
    // {
    //     cruds = await Http.GetFromJsonAsync<TeamCrud[]>("TeamCRUD");
    //}
}