@page "/fetchteam"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WEB.Shared
@attribute [Authorize]
@inject HttpClient Http


<h1>Team Data</h1>
<p>This component demonstrates fetching Team data from the server.</p>
<p>    <a href="/addteam">Create New</a></p>

@if (teamList == null)
{
    <p><em>Loading...</em></p>}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Extra</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teamList)
            {
                <tr>
                    <td>@team.TeamID</td>
                    <td>@team.TeamName</td>
                    <td>
                        <a href='/editteam/@team.TeamID'>Edit</a>  |
                        <a href='/delete/@team.TeamID'>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions
{
    TeamsModel[] teamList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teamList = await Http.GetFromJsonAsync<TeamsModel[]>("/api/Team/Index");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}