@page "/sprints"
@using FrontEnd.Shared
@inject HttpClient Http

<h3>Sprints</h3>

<p>Current sprint name: @value</p>

<p>Current sprint start date: @start</p>

<p>Current sprint end date: @end</p>

@code {

    private string value = "";
    private string start = "";
    private string end = "";


    private SprintTester test;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //Http.GetFromJsonAsync<SprintTester[]>("SprintTester") ????

            test = await Http.GetFromJsonAsync<SprintTester>("SprintTester");

            string s = "";

        }
        catch(Exception )
        {

        }
    }

}
